*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Times New Roman'; */
}
.center{
    /* background-color: rgb(0, 116, 217); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting{
    position: fixed;
    z-index: 10000;
    font-size: 3rem;
    bottom: 20px;
    left: 95%;
}
.login-out form{
    width: 100%;
    height: 100%;
}
.table-log td{
    padding: 4px  !important;
    text-align: left !important;
}
.label-log{
    font-weight: 900;
    min-width: 300px;
    /* padding: 20px; */
}
.login-out{
    padding: 20px;
    /*min-width: 30vw;
    min-height: 50vh;*/
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100000;
    border: 1px solid;
    text-align: center;
    border-radius: 20px;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.6);
    -o-border-radius: 20px;
}
.login{
    font-size: 1.5rem;
}
#log-submit, #log-register{
    padding: 5px 10px;
    margin: 0 20px ;
    font-weight: 600;
}
 .login:hover{
    color: red;
}
.hide{
    display: none !important;
}
.log{
    font-size: 2rem;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgba(255, 255, 255);
    border-radius: 0.5rem;
}
.log:hover{
    color: yellow;
}
.bb{
    width: 165px;
    background-color: #f1ebeb;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    padding:5px 10px;
    overflow: hidden;
    box-shadow: 1px 15px 30px;
    margin: -27px 0 0 0;
    border-top: none;
    left: 50%;
    transform: translateX(-50%);

}
#increaseButton{
    padding: 0 3px;
    margin: 0 2px;
}
 #decreaseButton{
    padding: 0 3px;
    margin: 0 2px;
}
.bb-btn {
    padding: 3px 52px;
    text-transform: uppercase;
    background: black;
    color: white;
    font-weight: 900;
    border-radius: 10px;
}


.quangcao{
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: 900;
    font-style: italic;
}
.set{
    font-size: 2rem;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgba(255, 255, 255);
    border-radius: 0.5rem;
}
.set:hover{
    color: rgb(255, 196, 0);

}
img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.home-page{
    width: 100%;
    margin: auto;
    /* position: relative; */
    /* background: #000000;
    margin: 0 20px; */
    overflow: hidden;
}
.extra-cart{
    width: 18%;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(163deg, rgba(255,255,255,1) 0%, rgba(0,25,59,1) 100%);
    position: fixed;
    z-index: 10000;
    right: 0;
    display: none;
    padding: 20px;
    overflow: scroll;
    border: rgb(0, 0, 0) 10px solid;
}
.extra-cart .product{
    margin: 30px auto;
}
.extra-cart::-webkit-scrollbar {
    width: 10px;
}
.extra-cart::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.extra-cart::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Header*/
header{
/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    gap: 10px;
    /* border: 2px solid; */
    /* position: absolute; */
    width: 100%;
    /* max-height: 100px; */
    /* left: 0px;
    top: 0px; */
    position: absolute;
    z-index: 10000;
    background: rgb(255, 255, 255) !important;
    margin-bottom: 10px;

}
.logo img:hover{
    opacity: 1;

}
.header{
    display: flex;
}
.header-right, .header-left{
    display: flex;
    align-items: center;
}
/* logo */
.logo , .logo img{
    width: 100%;
    max-height: 3rem;
    opacity: 0.8;
}

/* menu */
.menu{
    margin: 0px 20px;
    height:100%;
}
.list-menu{
    list-style: none;
    display: flex;
    height:100%;
    align-items: center;
}
.menu-item{
    text-transform: uppercase;
    padding: 5px 7px ;
    display: flex;
    height:100%;
    align-items: center;
}
.menu-item a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;

}
.menu-item:hover{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.9);
}
.menu-item:hover a{
    color: rgb(254, 254, 254);
}
.active{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255) !important;
}
.active a{
    color: rgb(255, 255, 255);

}

/* search */
.box-search{
    height: 50px;

}
.in-search {
    width: fit-content;
    position: relative;

}
.find{
    padding: 11px 2rem 11px 1rem;
    border-radius: 10rem;
}
.icon-search{
    position: absolute;
    padding: 7px;
    border-radius: 10rem;
    background-color: greenyellow;
    right: 5px;
    top: 4px;
}
.icon-search:hover{
    background-color: rgb(109, 182, 0);
}
.box-cart{
    display : flex;
    margin: 0 5px;
    border-radius: 10rem;
    border: 1px solid;
    padding: 10px;
    color: aliceblue;
    background-color: black;
    text-align: center;

}
.box-cart:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#cart{

}
.container{
}
button:hover{
    opacity: 0.8;

}
h1:hover{
    color: rgb(255, 183, 0) !important;
}
/* new */
.new{
    /* background-color: antiquewhite; */
    margin: 20px 0;
    padding: 20px 0;
}
.new-center{
    width: 80%;
    min-height: 200px;
    margin: auto;
    background-image: url("../img/ptnew.svg");
    background-repeat: no-repeat;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.new-center-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.new-center-content h1{
    color: aliceblue;
    font-size: 2rem;
    width: 210px;
}
.form-sr-address input{
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
#sr-address{
    width: 250px;
}
#sr-address-sb{
    background-color: #274C5B;
    color: aliceblue;
}
.footer{
    display: flex;
    /* margin: 50px 0 0; */
    justify-content: space-around;
    /* background-color: rgb(176, 209, 209); */
    /* background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); */
}
.footer-left{
    width: 30%;
}
.footer-mid{
    width: 40%;

    text-align: center;
}
.footer-mid img{
    width: 200px !important;
    height: 100px;
}
.footer-mid-link{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.footer-mid-link li:hover a{
    color: red;
}
.footer-mid-link li a{
    text-decoration: none;
    font-size: 2rem;
    color: #274C5B;
    padding: 20px;

}
.footer-right{
    width: 30%;

}
.footer-left-link li{
    text-align: right;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    color: #274C5B;
    text-decoration: none;
}
.bannar-cart{
    position: relative;
}
.bannar-cart h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}






/* Responsive IPAD */
@media screen and (max-width:1023px) and (min-width:768px) {
    .home-page{
        width: 100%;
    }

    .header{
        display: block;
        flex-direction: column;
    }
    .header-left{
        display: block;
    }
    .find{
        padding: 11px 3rem 11px 1rem;
    }
    .menu-item a{
        font-size: 1rem;
}
    .new-center-content{
        width: 90%;
        display: block;

    }
    .footer{
        /* display: block; */
    }
    /* .footer-right,.footer-mid,.footer-left{
        width: 100%;
    } */
}

#map{
    width: 100%;
    height: 300px;
}
.skew:hover{
    transform: scale(1.1);
}

/* Responsive MOBILE */
@media screen and (max-width:767px) {
    .extra-cart{
        display: none!important;
    }
    .home-page{
        width: 100%;
    }
    .header{
        display: block;
        flex-direction: column;
    }
    .header-left{
        display: block;
    }
    .find{
        padding: 11px 3rem 11px 1rem;

    }
    .menu-item a{
        font-size: 0.7rem;
    }
    .new-center-content{
        width: 90%;
        display: block;
        text-align: center;
    }
    .footer{
        display: block;
    }
    .footer-right,.footer-mid,.footer-left{
        width: 100%;
    }
    .footer-right,.footer-mid,.footer-left li{
        text-align: center;
    }
}